---
swagger: "2.0"
info:
  version: "2023-04-20T19:26:06Z"
  title: "Jetz-Beland"
host: "beland.app"
x-google-endpoints:
  - name: "beland.app"
    allowCors: True
schemes:
  - "https"
x-google-backend:
  address: https://beland-backend-45tnbek6ya-uk.a.run.app/api
  deadline: 60.0
paths:
  /role:
    post:
      summary: "Create Role"
      operationId: "createRole"
      produces:
        - "application/json"
      # parameters:
      #   - name: "Authorization"
      #     in: "header"
      #     required: false
      #     type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/Empty"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        "400":
          description: "400 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        "500":
          description: "500 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        "404":
          description: "404 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
      # security:
      #   - api_key: []
    options:
      operationId: optCreateRole
      consumes:
        - "application/json"
      produces:
        - "application/json"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/Empty"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
definitions:
  Empty:
    type: "object"
    title: "Empty Schema"